/* Error: unmatched "}".
 *     ,
 * 374 | }
 *     | ^
 *     '
 *   Shared\styles\views\_view-table.scss 374:1  @import
 *   Shared\styles\main.scss 17:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a     \2577 \a 374 \2502  }\a     \2502  ^\a     \2575 \a   Shared\\styles\\views\\_view-table.scss 374:1  @import\a   Shared\\styles\\main.scss 17:9                root stylesheet';
}
