/* Error: Can't find stylesheet to import.
 *    ,
 * 22 | @import "components/modals";
 *    |         ^^^^^^^^^^^^^^^^^^^
 *    '
 *   Shared\styles\main.scss 22:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 22 \2502  @import \"components/modals\";\d\a    \2502          ^^^^^^^^^^^^^^^^^^^\a    \2575 \a   Shared\\styles\\main.scss 22:9  root stylesheet";
}
